In [34]:
# data manipulation 
import numpy as np
import pandas as pd
from numpy import mean
from numpy import std
import matplotlib.pyplot as plt
# modeling utilities
from sklearn import metrics
from sklearn import preprocessing
from sklearn import  linear_model
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.manifold import Isomap

ModuleNotFoundError: No module named 'matplotlib.pyplot'

In [20]:
credit_db = pd.read_csv('clean_dataset.csv')

In [21]:
encoder = OrdinalEncoder()
credit_db["Industry"] = encoder.fit_transform(credit_db[["Industry"]])
credit_db["Ethnicity"] = encoder.fit_transform(credit_db[["Ethnicity"]])
credit_db["Citizen"] = encoder.fit_transform(credit_db[["Citizen"]])

In [22]:
credit_db.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,7.0,4.0,1.25,1,1,1,0,0.0,202,0,1
1,0,58.67,4.460,1,1,9.0,1.0,3.04,1,1,6,0,0.0,43,560,1
2,0,24.50,0.500,1,1,9.0,1.0,1.50,1,0,0,0,0.0,280,824,1
3,1,27.83,1.540,1,1,7.0,4.0,3.75,1,1,5,1,0.0,100,3,1
4,1,20.17,5.625,1,1,7.0,4.0,1.71,1,0,0,0,1.0,120,0,1

### Control Variable

In [23]:
X, X_test, y, y_test = train_test_split(credit_db.iloc[:,0:-1], credit_db.iloc[:,-1], 
                                                    test_size=0.33, random_state=42)

In [24]:
model = LogisticRegression()
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)

In [25]:
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.823 (0.064)

### Principal Component Analysis (PCA)

#### Reduction of 1 dimention

In [29]:
n_score_mean = []
n_score_std = []

pcd_db = credit_db

def pca_eval(target):
    steps = [('pca', PCA(n_components=14)), ('m', LogisticRegression())]
    model = Pipeline(steps=steps)
    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
    n_score_mean.append(mean(n_scores))
    n_score_std.append(std(n_scores))


for i in range(16):
    print(i)
    pca_eval(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [33]:
plt.title("Line graph")
plt.plot(x, y, color="red")

NameError: name 'plt' is not defined

### Isomape Embeding

0.8563521430773974
0.8477027443724946
0.8419518963922296
0.8102836879432627
0.7987511563367254
0.04948151111024827
0.05678611728275582
0.048881572611873855
0.04071340296271751
0.05146570240080928