In [11]:
# data manipulation 
import numpy as np
import pandas as pd
# modeling utilities
from sklearn import metrics
from sklearn import preprocessing
from sklearn import  linear_model
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict

In [15]:
nic_db = pd.read_csv('nic-cage.csv')

In [16]:
nic_db.head()

,Movie,Rating,Character,Voice,Year,RottenTomatoes
0,A Score to Settle,NR,Frank Pierce,0,2019,13
1,Spider-Man: Into the Spider-Verse,PG,Spider-Man Noir,1,2018,97
2,Between Worlds,R,Joe,0,2018,X
3,Teen Titans Go! To the Movies,PG,Superman,1,2018,91
4,211,R,Mike Chandler,0,2018,5

In [19]:
nic_db.dtypes

Movie             object
Rating            object
Character         object
Voice              int64
Year               int64
RottenTomatoes    object
dtype: object

In [21]:
X, X_test, y, y_test = train_test_split(nic_db.iloc[:,0:5], nic_db.iloc[:,-1], 
                                                    test_size=0.33, random_state=42)

In [30]:
X_test.head()

                Movie Rating      Character  Voice  Year
40               Next  PG-13   Cris Johnson      0  2007
22               Rage     NR   Paul Maguire      0  2014
55     The Family Man  PG-13  Jack Campbell      0  2000
88        Valley Girl      R          Randy      0  1983
0   A Score to Settle     NR   Frank Pierce      0  2019